<!doctype html>
<html lang="it" xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <th:block
      th:replace="~{fragments/head :: head('Error 500- Internal error')}"
    />
  </head>
  <body class="bg-light">
    <body class="bg-light d-flex align-items-center vh-100">
      <div class="container text-center">
        <div class="card shadow p-5 mx-auto" style="max-width: 500px">
          <h1 class="text-danger display-1 fw-bold">500</h1>
          <h2 class="mb-4">Errore Intero al Server</h2>

          <!-- Mostra il messaggio dinamico dal GlobalExceptionHandler -->
          <p class="text-muted mb-4" th:text="${messageError}">
            messaggio Errore
          </p>
        </div>
      </div>
    </body>
  </body>
</html>
