<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <th:block th:replace="~{fragments/head :: head(|Pizza ${pizza.nome}|)}" />
  </head>
  <body>
    <div th:text="${pizza}"></div>

    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#delete-pizza"
    >
      DELETE
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="delete-pizza"
      tabindex="-1"
      aria-labelledby="delete-pizza-label"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="delete-pizza-label">
              Eliminazione definitiva
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            Sei sicuro di voler eliminare la pizza [[${pizza.nome}]]
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <form th:action="@{|/pizzas/${pizza.id}/delete|}" method="get">
              <input type="submit" class="btn btn-secondary" value="delete" />
            </form>
          </div>
        </div>
      </div>
    </div>

    <script
      th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"
    ></script>
  </body>
</html>
