<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <th:block th:replace="~{fragments/head :: head(|Pizza ${pizza.nome}|)}" />
  </head>
  <body class="bg-light">
    <div th:object="${pizza}" class="container my-5" style="max-width: 600px">
      <div class="card shadow-sm mb-4">
        <div class="card-body text-center py-4">
          <h1 class="card-title h3 mb-3" th:text="*{nome}">Nome Pizza</h1>
          <p class="card-text text-muted mb-4" th:text="*{description}">
            Descrizione dettagliata della pizza...
          </p>
          <div class="h4 text-success mb-4">
            <span th:text="*{price}">0.00</span> €
          </div>
          <button
            type="button"
            class="btn btn-danger px-4"
            data-bs-toggle="modal"
            th:data-bs-target="|#delete-pizza-*{id}|"
          >
            Elimina Pizza
          </button>
        </div>
      </div>
    </div>
    <div
      th:replace="~{fragments/delete-modal :: delete-modal(${pizza}, 'pizza')}"
    ></div>

    <script
      th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"
    ></script>
  </body>
</html>
